// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$value-color: #FFFFFF;
$title-color: rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.3);
$meter-background: #000000;
// ----------------------------------------------------------------------------
// Widget-hotness styles
// ----------------------------------------------------------------------------
.widget-hotness {

 // background-color: $background-color;
 // @include transition(background-color, 1s, linear);

  text-align: center;
  vertical-align: middle;

  .title {
    color: $title-color;
  }

  .meter {

    color: $value-color;
    //background-color: $background-color;
      background-color: $meter-background; 
  }

  .updated-at {
    color: $updated-at-color;
  }


}

.hotness0 { background-color: #009900; }
.hotness1 { background-color: #ff9900; }
.hotness2 { background-color: #ff0000; }
.hotness3 { background-color: #3366ff; }
.hotness4 { background-color: #ffffff; }

