<% content_for(:title) { "ARTS Dashboard" } %>
<div class="gridster">
<table>
<col width="80">
<tr>  


<td>
<div data-id="TestGroup1" data-view="Hotness" data-title="TestGroup1" data-cool="0" data-warm="1" data-height="80" data-width="80" data-min="0" data-max="100" data-suffix="%"></div>    
</td>    

<td>
<div data-id="TestGroup2" data-view="Hotness" data-title="TestGroup2" data-cool="0" data-warm="1" data-height="80" data-width="80" data-min="0" data-max="100" data-suffix="%"></div>
</td>    

<td>
<div data-id="TestGroup3" data-view="Hotness" data-title="TestGroup3" data-cool="0" data-warm="1" data-height="80" data-width="80" data-min="0" data-max="100" data-suffix="%"></div>
</td>


<td>
<div data-id="TestGroup4" data-view="Hotness" data-title="TestGroup4" data-cool="0" data-warm="1" data-height="80" data-width="80" data-min="0" data-max="100" data-suffix="%"></div>
</td>

<td>
<div data-id="TestGroup5" data-view="Hotness" data-title="TestGroup5" data-cool="0" data-warm="1" data-height="80" data-width="80" data-min="0" data-max="100" data-suffix="%"></div>
</td>


</tr>
</table>
</div>
