
<% content_for(:title) { "ARTS Dashboard" } %>
<div class="gridster">
  
<div data-id="production" data-view="Hotness" data-title="Production" data-cool="500" data-warm="1200" data-height="80" data-width="80" data-min="0" data-max="100" data-suffix="%"></div>    
    
<div data-id="integration" data-view="Hotness" data-title="Integration" data-cool="500" data-warm="1200" data-height="80" data-width="80" data-min="0" data-max="100" data-suffix="%"></div>
    

</div>
